@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li, summary { list-style: none;}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto Condensed", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* hazır kodlarım */

.loading-bg {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.loading {
    width: 100px;
    height: 100px;
    border: 8px dashed #f44336;
    border-radius: 50%;
    display: inline-block;
    border-top: 8px dashed transparent;
    animation: loading 1s infinite linear;
}

.loadingSmall {
    width: 30px;
    height: 30px;
    border: 4px solid #222831;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid transparent;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 5px #e5e5e5;
}

.active {
    color: #f44336 !important;
}

/* HEADER & FOOTER CSS START */

.header {
    > .container {
        box-shadow: none !important;
    }
}

.header-top {
    padding: 13px 32px;
    background-color: #e43f32;
    display: flex;
    justify-content: space-between;
    > div {
        display: flex;
        gap: 16px;
        > p {
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 1;
            letter-spacing: 1px;
            font-size: 12px;
            color: #fff;
        }
        > a {
            color: #fff;
            letter-spacing: 1px;
            font-size: 12px;
        }
        > span {
            height: 14px;
            width: 1px;
            background-color: #fff;
            opacity: 0.4;
        }
    }
}

.header-mid {
    padding: 24px;
    background-color: #f44336;
    > h3 {
        text-align: center;
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1;
    }
}

.header-bottom {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    > ul {
        display: flex;
        align-items: center;
        > span {
            height: 14px;
            width: 1px;
            background-color: #212121;
        }
        > li {
            display: block;
            > a {
                padding: 20px;
                display: block;
                font-size: 16px;
                color: #212121;
                font-weight: 600;
                letter-spacing: 1px;
                transition: all .3s;
            }
            > a:hover {
                color: #f44336;
            }
        }
    }
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 40px 0;
    > h3 {
        text-align: center;
        color: #f44336;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1;
    }
    > p {
        width: 650px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: #565656;
        line-height: 24px;
    }
    > ul {
        display: flex;
        gap: 8px;
        > li {
            display: block;
            > a {
                display: block;
                width: 40px;
                height: 40px;
                background-color: #212121;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                transition: all .3s;
            }
            > a:hover {
                background-color: #f44336;
            }
        }
    }
}

.footer-bottom {
    padding: 40px 0;
    background-color: #f44336;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
        display: flex;
        justify-content: center;
        gap: 32px;
        > a {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            letter-spacing: 0.5px;
        }
        > p {
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            letter-spacing: 0.5px;
        }
    }
}

.main {
    > .container {
        padding: 40px 20px;
    }
}

/* HEADER & FOOTER CSS END */

/* BLOG PAGE CSS START */

.blog-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.blog-page-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        min-height: 1312px;
    }

    > h1 {
        font-size: 24px;
        font-weight: 700;
        color: #212121;
        padding-bottom: 16px;
        border-bottom: 1px solid #f1f1f1;
        line-height: 1;
    }

}

.blog-page-left-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > img {
        width: 250px;
        height: 150px;
        object-fit: cover;
    }
    > div {
        width: calc(100% - 265px);
        display: flex;
        flex-direction: column;
        gap: 6px;
        > a {
            font-size: 26px;
            color: #212121;
            font-weight: 700;
            letter-spacing: -0.5px;
            line-height: 1.1;
            transition: all .3s;
        }
        > a:hover {
            color: #f44336;
        }
        > p {
            font-size: 16px;
            color: #565656;
            font-weight: 400;
        }
    }
}

.blog-page-left-navigation {
    display: flex;
    flex-direction: row !important;
    gap: 8px !important;
    min-height: auto !important;
    > button {
        padding: 10px 20px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #f1f1f1;
        color: #212121;
        font-weight: 400;
        cursor: pointer;
        transition: all .3s;
    }
    > button:hover {
        background-color: #f44336;
        color: #fff;
    }
}

.blog-page-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: 9px;
    height: 945px;

    > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    > h1 {
        font-size: 24px;
        font-weight: 700;
        color: #212121;
        padding-bottom: 16px;
        border-bottom: 1px solid #f1f1f1;
        line-height: 1;
    }
}

.blog-page-right-item {
    display: flex;
    gap: 16px;
    > img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    > a {
        padding-top: 5px;
        font-size: 16px;
        font-weight: 700;
        color: #212121;
        transition: all .3s;
    }
    > a:hover {
        color: #f44336;
    }
}

.advert {
    width: 100%;
    height: 600px;
    background-color: #f44336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    > h3 {
        line-height: 1;
        color: #fff;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 500;
    }
}

/* BLOG PAGE CSS END */

/* HOME PAGE CSS START */

.home-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.home-page-left {
    width: 100% !important;
}

.home-page-left-big-news {
    width: 752px !important;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f1;
}

.home-page-left-big-news-item {
    width: 100%;
    > img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    > h3 {
        font-size: 30px;
        font-weight: 700;
        color: #212121;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    > p {
        font-size: 16px;
        font-weight: 400;
        color: #565656;
    }
}

.home-page-left-little-news {
    padding: 30px 0 45px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.home-page-left-little-news-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    > img {
        width: 100%;
        height: 235px;
        object-fit: cover;
    }
    > h3 {
        font-size: 22px;
        font-weight: 600;
        color: #212121;
    }
    > p {
        font-size: 16px;
        font-weight: 400;
        color: #565656;
    }
}

.home-page-left-latest-news {
    width: 752px !important;
    > h1 {
        font-size: 24px;
        font-weight: 700;
        color: #212121;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 30px;
    }
}

.home-page-left-latest-news-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    > a {
        font-size: 22px;
        color: #212121;
        font-weight: 600;
        line-height: 24px;
        transition: all .3s;
    }
    > a:hover {
        color: #f44336;
    }
    > p {
        font-size: 16px;
        font-weight: 400;
        color: #565656;
    }
}

.home-page-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: sticky;
    height: 927px;
    top: 16px;
    > form {
        padding: 20px;
        border: 1px solid #f1f1f1;
        > button {
            background-color: transparent;
            border: none;
            font-size: 18px;
        }
        > input {
            border: none;
            outline: none;
            width: calc(100% - 20px);
            color: #212121;
            font-weight: 400;
        }
    }
}

.home-page-right-breaking-news {
    display: flex;
    flex-direction: column;
    gap: 15px;
    > h1 {
        font-size: 24px;
        color: #212121;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 15px;
        border-bottom: 1px solid #f1f1f1;
    }
    > ul {
        > li {
            padding: 10px 0;
            border-bottom: 1px solid #f1f1f1;
            > a {
                font-size: 18px;
                color: #212121;
                font-weight: 400;
                transition: all .3s;
            }
            > a:hover {
                color: #f44336;
            }
        }
    }
}

.advert-little {
    width: 100%;
    height: 450px;
    background-color: #f44336;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    > h3 {
        line-height: 1;
        color: #fff;
        font-size: 24px;
        letter-spacing: 1px;
        font-weight: 500;
    }
}

/* HOME PAGE CSS END */
